{% extends "layout.html" %}
{% block content %}
    <h2>List of Social Services</h2>

    <h3>Add new entry <a href="{{ url_for('add_new') }}">here</a></h3>
    <h3>Entries</h3>
    {% for entry in entries %}
        <p class=entry>
		Name: {{ entry.name }} <br>
		Description: {{ entry.description }} <br>
		Street address: {{ entry.street_add }} <br>
		Type of service: {{ entry.type_of_service }} <br>
		Phone number: {{ entry.phone_no }} <br>
		Hours of operation: {{ entry.hours }} <br>
		Reviews: {{ entry.reviews }} <br>
        </p>
    {% endfor %}

{% endblock %}
