/*
 * https://github.com/tecladocode/hiit-timer/blob/master/static/css/styles.css
 */

*,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  body {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #f9f8f4; 
  }

  .u-center-text {
    display: block;
    text-align: center;
  }

  .header {
    background-color: #f2664c;
    font-weight: bold;
    color: white;
    padding: .5rem 2rem;
    margin-bottom: 1.75rem;
    text-align: center;
  }

  .header__logo {
    font-size: 1rem;
  }

  .heading {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .timer {
    display: block;
    font-size: 4rem;
    text-align: center;
    margin-bottom: .75rem;
  }

  .main {
    border-radius: 15px;
    height: auto;
    width: 95vw; 
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff; 
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    border: solid grey 1px;
    text-align: justify;
}
  .alert {
    background-color: #e7ff00;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .main {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.0rem;
    column-gap: .75rem;
    align-items: center;
    font-size: 0.9rem;
    width: auto;
  }

  .form__button-container {
    display: grid;
    justify-content: center;
    grid-column: 1 / 4;
  }

  .form__input {
    max-width: 10rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #1c2023;
    padding: 7px 10px;
    font-size: inherit;
    justify-self: center;
    text-align: center;
  }

  .text__input {
    height: 15vh;
    text-align: start;
  }

.form__label {
    margin-right: 10px;
    font-size: 1.1rem;
    text-align: right;
}

.button {
    grid-column: 2 / 3;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: 1px solid #1c2023;
    background-color: #98D4FF;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: #75BDF1;
}

.progress {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #cdc7c2;
    background-image: none;
    -webkit-appearance: none;
}

.progress,
.progress::-webkit-progress-bar {
    background-color: #fff;
}

.progress--set::-webkit-progress-value {
    background-color: #F56565;
}

.progress--set::-moz-progress-bar {
    background-color: #F56565;
}

.progress--rest::-webkit-progress-value {
    background-color: #65F596;
}

.progress--rest::-moz-progress-bar {
    background-color: #65F596;
}

