{% extends "layout.html" %}
{% block content %}
    <h2>Add new entry:</h2>
    <form action="{{ url_for('add_new') }}" method=post>
	<p class="heading">Name: <input type=text name=name>
	<p class="heading">Description: <input type=text name=description>
	<p class="heading">Street Address: <input type=text name=street_add>
	<p class="heading">Type of service: <input type=text name=type_of_service>
	<p class="heading">Phone number: <input type=text name=phone_no>
	<p class="heading">Hours of operation: <input type=text name=hours>
        <p class="heading">Reviews:
	<textarea rows=5 cols=50 name=reviews></textarea></p>
	<p><input type=submit value=Add></p>
    </form>
{% endblock %}
