<!DOCTYPE html>
<head>
    <title>C o l o n e l &nbsp I n t e r r u p t / Alert</title>
    <link rel="stylesheet" href="{{ url_for('static',
filename='css/styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header"><h1 class="header__logo">C o l o n e l &nbsp I n t e r r u p t</h1></div>
    <main class="main alert">
        
        <h2 class="heading">Alert!</h2>
        <audio id="audioplayer" controls autoplay hidden>
          <source src="http://soundbible.com/grab.php?id=2218&type=mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>


        <script type="application/javascript">
            const timerElement = document.getElementById("timer");
            const progressBar = document.getElementById("progressBar")
            var timerCounter = 3;
            const interval = setInterval(() => {
                if (timerCounter <= 1) {
                    window.location.href = "{{ url_for('exercise') }}";
                    clearInterval(interval);
                }
                timerCounter = timerCounter - 1;
            }, 1000);
        </script>
    </main>
</body>
