<!--  https://github.com/tecladocode/hiit-timer/blob/master/templates/base.jinja2 -->
<!DOCTYPE html>
<head>
    <title>C o l o n e l &nbsp I n t e r r u p t</title>
    <link rel="stylesheet" href="{{ url_for('static',
filename='css/styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header"><h1 class="header__logo">C o l o n e l &nbsp I n t e r r u p t</h1></div>
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
</body>
