<!DOCTYPE html>
<head>
  <title>C o l o n e l &nbsp I n t e r r u p t / Complete</title>
  <link rel="stylesheet" href="{{ url_for('static',
  filename='css/styles.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header"><h1 class="header__logo">C o l o n e l &nbsp I n t e r r u p t</h1></div>
  <main class="main">
    <h2 class="heading">Congratulations</h2>
    <span class="u-center-text">Colonel Interrupt has sent you a total of {{ sets }} interrupts!</span>
  </main>
</body>

