<!DOCTYPE html>
<head>
  <title>C o l o n e l &nbsp I n t e r r u p t / Activity</title>
  <link rel="stylesheet" href="{{ url_for('static',
  filename='css/styles.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header"><h1 class="header__logo">C o l o n e l &nbsp I n t e r r u p t</h1></div>
  <main class="main">
    <h2 class="heading">Activity</h2>

    <span class="timer" id="timer">{{ activity }}s</span>
    <progress max="{{ activity }}" value="{{ activity }}" class="progress progress--set" id="progressBar"></progress>

    <audio id="audioplayer" controls autoplay hidden>
      <source src="{{ source_url }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>

    <script type="application/javascript">


      const timerElement = document.getElementById("timer");
const progressBar = document.getElementById("progressBar")
var timerCounter = progressBar.max;
const interval = setInterval(() => {
  if (timerCounter === 0) {
    window.location.href = "{{ url_for('rest') }}";
    clearInterval(interval);
  }
  timerCounter = timerCounter - 1;
  timerElement.innerText = timerCounter + "s";
  progressBar.value = timerCounter;
}, 1000);
    </script>
  </main>
</body>

