<!DOCTYPE html>
<head>
  <title>C o l o n e l &nbsp I n t e r r u p t / Home</title>
  <link rel="stylesheet" href="{{ url_for('static',
  filename='css/styles.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header"><h1 class="header__logo">C o l o n e l &nbsp I n t e r r u p t</h1></div>
  <main class="main">
    <h2 class="heading">Set Up</h2>

    <form class="form" method="post" novalidate>
      <label class="form__label" for="activity">Activity:</label>
      <input class="form__input" type="number" name="activity" id="activity" value="5"/>
      <span class="units">(seconds)</span>

      <label class="form__label" for="rest">Countdown:</label>
      <input class="form__input" type="number" name="rest" id="rest" value="5"/>
      <span class="units">(seconds)</span>

      <label class="form__label" for="sets">Repeats:</label>
      <input class="form__input" type="number" name="sets" id="sets" value="3"/>
      <br>
      {{ form.text_field.label(class_='form__label') }}
      {{ form.text_field(class_='form__input text__input') }}<br>
      {{ form.language_options.label(class_='form__label') }} {{ form.language_options(class_="form__input", formnovalidate=True) }}<br>
      {{ form.gender_options.label(class_='form__label') }} {{ form.gender_options(class_="form__input", formnovalidate=True) }}

      <div class="form__button-container">
        <button class="button" type="submit">Start!</button>
      </div>
    </form>
  </main>
</body>

