<!DOCTYPE html>
<head>
    <title>C o l o n e l &nbsp I n t e r r u p t / Countdown</title>
    <link rel="stylesheet" href="{{ url_for('static',
filename='css/styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header"><h1 class="header__logo">C o l o n e l &nbsp I n t e r r u p t</h1></div>
    <main class="main">
        
        <h2 class="heading">Next Reminder In</h2>

        <span class="timer" id="timer">{{ rest }}s</span>
        <progress max="{{ rest }}" value="{{ rest }}" class="progress progress--rest" id="progressBar"></progress>

        <script type="application/javascript">
            const timerElement = document.getElementById("timer");
            const progressBar = document.getElementById("progressBar")
            var timerCounter = progressBar.max;
            const interval = setInterval(() => {
                if (timerCounter <= 1) {
                    window.location.href = "{{ url_for('alert') }}";
                    clearInterval(interval);
                }
                timerCounter = timerCounter - 1;
            
                timerElement.innerText = timerCounter + "s";
                progressBar.value = timerCounter;
            }, 1000);
        </script>
    </main>
</body>

